#counterList{
	margin:0px;
	border:0px;
	padding:0px 0px 0px 0px;
}
.counter-li{
	height:50px;
	margin:0px 10px 10px 10px;
	border:0px;
	padding: 0px 0px 0px 0px;
	background: #8AC007;
}

.column-a{
	width:50px;
	margin:0px 0px 0px 25px;
	border:0px;
	padding:0px 0px 0px 0px;
	float:left;
	text-align:center;
}
.column-b{ 
	margin:0px 100px 0px 100px;
	border:0px;
	padding: 0px 0px 0px 0px;
	text-align:center;
}
.column-c{ 
	width:50px;
	margin:0px 0px 0px 0px;
	border:0px;
	padding:0px 25px 0px 0px;
	float:right;
	text-align:center;
}
/*ADDING BUTTON AND TB*/
.a-btn{
	color:#000000;
	text-align:center;
	text-shadow:none;
	padding-top:5px;
	padding-right:20px;
	padding-left:20px;
	float:right;	
}
.a-btn:hover{
	color:#1e62d0;
}
.a-btn:active{
	color:#3d94f6;
}

.inc-btn{
	color:#000000;
	text-align:center;
	text-shadow:none;
	margin:8px 0px 0px 0px;
	border:0px;
	padding: 0px 0px 0px 0px;
	
}
.inc-btn:hover{
	color:#1e62d0;
}
.inc-btn:active{
	color:#3d94f6;
}

.counter-name{
	margin:5px 0px 0px 0px;
	border:0px;
	padding: 0px 0px 0px 0px;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 25px;
	text-align: center;
	color:black;
	text-shadow:none;
}

.counter-value{
	margin:5px 0px 0px 0px;
	border:0px;
	padding: 0px 0px 0px 0px;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	line-height: 15.3999996185303px;
	text-align: center;
	color:black;
	text-shadow:none;
}

.my-header-div{
	margin:0px;
	border:0px;
	padding: 0px 0px 0px 0px;
	height:50px;
}

.title-header{
	width:40%;
	float:left;
	margin: 10px 0px 0px 10px;	
	font-size: 40px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 45px;
	text-align: left;
	color:black;
	text-shadow:none;
}


.icon-div{
	float:right;
	text-align:right;
	margin: 10px 10px 0px 0px;
}

#add-counter-body{
	margin: 20px 20px 20px 20px;
}
#infoDiv{
	margin:0px;
	border:0px;
	padding: 0px 10px 0px 10px;

}
#settingsDiv{
	margin:0px;
	border:0px;
	padding: 0px 10px 0px 10px;
}
#addDiv{
	margin:0px;
	border:0px;
	padding: 0px 10px 0px 10px;
}
